node_modules/
reports/allure-results/*
!reports/allure-results/.gitkeep
reports/junit/*
!reports/junit/.gitkeep
playwright-report/
tests/tdm/
test-results/
videos/
.DS_STORE
.devconteiner
package-lock.json
/.vscode
/reports/junit/results.xml
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
